<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">
	<title>MATIS</title><!-- Bootstrap Core CSS -->
  <link rel="icon" href="css/LOGO.png">
	<link href="css/bootstrap.min.css" rel="stylesheet"><!-- Custom CSS -->
	<link href="css/sb-admin.css" rel="stylesheet"><!-- Morris Charts CSS -->
	<link href="css/plugins/morris.css" rel="stylesheet"><!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="plotly.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				 <img class="logo" src="css/LOGO.png">
         <a class="navbar-brand" href="\home">MATIS Project</a>
         <i>Home</i>
			</div><!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="active">
					<a href="/dataupload"><i aria-hidden="true" class="fa fa-download"></i> Load Data</a>
				</li><!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<li style="list-style: none; display: inline">
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav side-nav">
							<li class="active">
								<a href="/home"><i aria-hidden="true" class="fa fa-bullseye"></i> Home</a>
							</li>
							<li>
								<a href="/fft1d"><i aria-hidden="true" class="fa fa-area-chart"></i> FFT 1D</a>
							</li>
							<li>
								<a data-target="#demo" data-toggle="collapse" href="javascript:;"><i aria-hidden="true" class="fa fa-signal"></i> FFT 2D <i class="fa fa-fw fa-caret-down"></i></a>
								<ul class="collapse" id="demo">
									<li>
										<a href="/fft2dvisu2d">Visual 2D</a>
									</li>
									<li>
										<a href="/fft2dvisu3d">Visual 3D</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#"><i aria-hidden="true" class="fa fa-area-chart"></i> Music</a>
							</li>
							<li>
								<a href="#"><i aria-hidden="true" class="fa fa-area-chart"></i> Esprit</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-fw fa-wrench"></i>Tutorial</a>
							</li>
							<li>
								<a href="#"><i aria-hidden="true" class="fa fa-user-circle-o"></i>Contact</a>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</li>
			</ul>
		</nav>
		<div class="row">
                <div class="col-lg-7">
    						<div id="hometitle">
			 					<h1>Welcome on MATIS</h1>
			 				<h3>MATIS is build for Signal Analysis, please upload your file and select your method.</h3>
              <p class="lead"><FONT COLOR="red" >File Uploaded</FONT></p>
						</div>
						</div>
						</div>
		<script src="js/jquery.js">
		</script> <!-- Bootstrap Core JavaScript -->

		<script src="js/bootstrap.min.js">
		</script> <!-- Morris Charts JavaScript -->

		<script src="js/plugins/morris/raphael.min.js">
		</script>
		<script src="js/plugins/morris/morris.min.js">
		</script>
		<script src="js/plugins/morris/morris-data.js">
		</script>
	</div>
</body>
</html>
